/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face { 
  font-family: 'PressStart2p';
  src: 
    url('PressStart2P-Regular.woff') format('woff'),
    local('PressStart2P-Regular');
}

@font-face {
  font-family: 'Inter-Variable';
  src: 
    url('Inter-Variable.woff2') format('woff2'),
    local('Inter-Variable');
  font-display: swap;
  font-weight: 400 700;
}
